<section class="header-intro-detail">
           
    <a href="overview.html">Back to overview</a>
    <div class="like-button-intro">
    <p>Jenny, 30 <span>account manager</span></p>

    <form action="/profile-detail" method="POST" >

           <button name = "like" type="submit" value="yes|1234" >Like</button> 
            
            
      

    </form>
</div>
    <h1>Belangrijkste quote van de gebruiker</h1>
    <ul>
        <li>Koken</li>
        <li>Voetbal</li>
        <li>Feesten</li>
    </ul>
</section>