


        <section class="img-caroussel">
                <h3>Foto's</h3>
    
                <ul>

                        <% let imgItems = data.img %>
                        <% for (let i = 0; i < imgItems.length; i++){ %>
                    <li>
                        <img src="../<%= imgItems[i]%>" alt="photo-slider">
                    </li>
                    <%} %>
                </ul>
    
            </section>