


        <section class="img-caroussel">
                <h3>Foto's</h3>
    
                <ul>
                    <li>
                        <img src="img/stock-1.png" alt="photo-Jenny-1">
                    </li>
                    <li>
                        <img src="img/stock-2.png" alt="photo-Jenny-2">
                    </li>
                    <li>
                        <img src="img/stock-3.png" alt="photo-Jenny-3">
                    </li>
                </ul>
    
            </section>