<nav>
        <ul class="desktop-menu">
                

            <li id="divergent">
                <a href="/overview">
                    <img src="img/logo-loveley.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <div class="menu-wrapper">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger">
                        <div></div>
                    </div>
             
                    <div class="menu">

                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <a href="#">Mijn profiel</a>
                                    </li>
                                    <li>
                                        <a href="#">Instellingen</a>
                                    </li>
                                    <li>
                                        <a href="#">Upgrades</a>
                                    </li>

                                    <li>
                                        <a href="#">matches</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </nav>