   
   
    <header>
        <nav>
            <ul>
                <li><a href="overview.html"><img src="img/logo-lovely.png" alt=""></a></li>
                <li><a href="#">Matches</a></li>
                <li>
                    <div class="hamburger">
                        <ul>
                            <li><a href="#">Mijn profiel</a></li>
                            <li><a href="#">Instellingen</a></li>
                            <li><a href="#">Upgrades</a></li>
                        </ul>

                    </div>
                </li>
            </ul>

        </nav>