        <section class="qanda">
            <h3>Q&A</h3>
            <ul>
                <li><span>Vraag:</span> Antwoord van de gebruiker</li>
                <li><span>Vraag:</span>Antwoord van de gebruiker</li>
                <li><span>Vraag:</span> Antwoord van de gebruiker</li>
            </ul>

        </section>