        <section class="qanda">
            <h3>Q&A</h3>
            <ul>

                <li><span>Zon, sneeuw of stad?</span> Zon</li>
                <li><span>Bier, wijn of fris></span>Wijn?</li>
                <li><span>Koffie, thee of water?</span> Wil je mij vergiftigen ofzo?</li>
            </ul>

        </section>